.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

  .mainTable {
  display: block ;
  width: 75% ;
  padding: 13px; 
}
.label {
  font-size: 10px ;
  color: #222 ;
}
.author, .date, .source {
  color: #27b ;
  font-size: 16px; 
  border: 0px solid ;
  padding-bottom: 3px ;
  text-align: left ;
}
.info {
  border: 1px solid ;
}
.menu {
  padding: 2px ;
  padding-left: 4px ;
}
.button {
  color: #fff ;
  background-color: #f41 ;
  paddng: 8px ;
  padding-left: 6px ;
  padding-right: 6px ;
  
}
.title {
  font-size: 22px; 
  font-weight: bold;
  color: #04d ;
  height: 20px ;
  text-align: left ;
  border-bottom: 1px solid #bbb ;
  padding-top: 8px ;
}
.date {
  color: #350;
  text-align: left;
}
.body {
  color: #444 ;
  font-size: 11px ;
  padding-bottom: 16px ;
  text-align: left ;
}
